<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <th>Name</th>
        <th>Password</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <div th:each="user:${users}">
        <tr>
            <td><p th:text="${user.getUsername()}"></p> </td>
            <td><p th:text="${user.getPassword()}"></p> </td>
            <td><a th:href="'/users/'+${user.getId()}+'/edit'">Edit</a></td>
            <td><form th:method="POST" th:action="'/users/'+${user.getId()}+'/delete'">
                <button type="submit">Delete</button></form>
                </td>
        </tr>
    </div>
</table>
</body>
</html>